<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <turboFilter class="com.epam.esm.api.util.CustomSQLFilter"/>

    <logger name="org.springframework" level="DEBUG"/>
    <logger name="org.hibernate" level="DEBUG"/>
    <logger name="org.springframework.transaction" level="DEBUG"/>
</configuration>
